@model helloserve.com.Web.Models.Data.ContentDataModel

<a href="@(ViewBag.BaseUrl)@(Model.Controller)/@(Model.UrlName)">
    <div class="content-block" style="@if (!string.IsNullOrEmpty(Model.ImageUrl)) { <text>background-image:url(@Html.StaticlinkContent(Model.ImageUrl));</text> }">
        <div class="dark-cover" style="padding:2em;">
            <div style="display:table-cell; vertical-align:middle;">
                <div class="content-title content-white">@Model.Title</div>
            </div>
        </div>
    </div>
</a>