@model helloserve.com.Web.Models.Data.ContentDataModel

<div class="content-block">
    <div style="padding:2em;">
        <div style="display:table-cell; vertical-align:middle;">
            <div class="content-title">@Model.Title</div>
        </div>
    </div>
</div>