@page "/about"

<div class="jumbotron">
    <div class="container">
        <h2 class="display-2">About</h2>
        <p>
            <span><span class="font-weight-bold" style="font-size:1.2em">helloserve</span> [he-<em>oh</em>-surv, <em>hel</em>-oh-surv]</span>
        </p>
        <p><i>noun</i></p>
        <p> - being friendly, courteous, respectful, humble and helpful.</p>
    </div>
</div>
<div class="container">
    <p>
        I'm a software developer, hobbyist and petrolhead. I like stuff like technical architecture and software design, manual gearboxes and simulators. I'm also the father of two clever little boys and the husband of a goddess.
    </p>
    <p>
        I've been a professional software engineer since 2003 when I took my first job at a small company in Stellenbosch, working on shipping management systems. Since then I've been involved in 3 or 6 different companies (depending on how you consider mergers and aquisitions) around the fin-tech space.
    </p>
</div>
