@page "/blogs"

<div class="jumbotron">
    <div class="container">
        <h4 class="display-4">Blogs</h4>
    </div>
</div>
<div class="container-fluid">
    <BlogItems></BlogItems>
</div>

@code {
}
