@page "/blogs/{title}"
@using helloserve.com.Adaptors
@using helloserve.com.Models
@inject IBlogServiceAdaptor ServiceAdaptor

@if (Model == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>@Model.Title</h1>

    <div>
        <span>Published on @Model.PublishDate?.ToShortDateString()</span>
        <AuthorizeView>
            <Authorized>
                <NavLink href="@AsAdminUrl(Model.Key)">
                    <span class="oi oi-pencil"></span>
                </NavLink>
            </Authorized>
        </AuthorizeView>
    </div>

    @((MarkupString)Model.Content)
}

@functions {
    [Parameter]
    private string Title { get; set; } = "fantastic";

    BlogView Model;

    protected override async Task OnInitAsync()
    {
        Model = await ServiceAdaptor.Read(Title);
    }

    private string AsAdminUrl(string key)
    {
        return $"admin/blogs/{key}";
    }
}