@page "/blogs"

<div class="jumbotron">
    <div class="container">
        <h2 class="display-2">Blogs</h2>
    </div>
</div>
<div class="container-fluid">
    <BlogItems></BlogItems>
</div>

@code {
}
