@page "/blogs"

<h1>Blogs</h1>

<ul>
    <li>
        <NavLink class="nav-link" href="blogs/title-1">
            Title 1
        </NavLink>
    </li>
    <li>
        <NavLink class="nav-link" href="blogs/title-2">
            Title 2
        </NavLink>
    </li>
    <li>
        <NavLink class="nav-link" href="blogs/title-3">
            Title 3
        </NavLink>
    </li>
</ul>
