@page "/blogs/{title}"
@page "/blog/{title}"
@using helloserve.com.Adaptors
@using helloserve.com.Models
@using helloserve.com
@inject IBlogServiceAdaptor ServiceAdaptor
@inject IPageState PageState

@if (Model == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>@Model.Title</h1>

    <p>
        <span>Published on @Model.PublishDate?.ToShortDateString()</span>
        <AuthorizeView>
            <Authorized>
                <NavLink href="@AsAdminUrl(Model.Key)">
                    <span class="oi oi-pencil"></span>
                </NavLink>
            </Authorized>
        </AuthorizeView>
    </p>

    @((MarkupString)Model.Content)
}

@functions {
    [Parameter]
    private string Title { get; set; } = "fantastic";

    BlogView Model;

    protected override async Task OnInitAsync()
    {
        Model = await ServiceAdaptor.Read(Title);

        PageState.Title = Model.Title;
        PageState.Description = Model.Description;
        PageState.ImageUrl = Model.ImageUrl;
        PageState.Type = Model.Type;
        PageState.StateChanged();
    }

    private string AsAdminUrl(string key)
    {
        return $"admin/blogs/{key}";
    }
}