@page "/blogs/{title}"
@using helloserve.com.Adaptors
@using helloserve.com.Models
@inject IBlogServiceAdaptor ServiceAdaptor

<h1>@Model.Title</h1>

@((MarkupString)Model.Content)

<div>Footer section</div>

@functions {
    [Parameter]
    private string Title { get; set; } = "fantastic";

    BlogView Model;

    protected override async Task OnInitAsync()
    {
        Model = await ServiceAdaptor.GetBlog(Title);
    }
}