@page "/blogs"
@using helloserve.com.Adaptors
@using helloserve.com.Models
@inject IBlogServiceAdaptor ServiceAdaptor

@if (_blogItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        @foreach (var item in _blogItems)
        {
        <p>
            <div>
                <NavLink class="nav-link" href="@AsUrl(item.Key)">
                    <div class="heading">@item.Title</div>
                </NavLink>
                <div class="heading-notation">@(item.PublishDate == null ? "Not Published" : item.PublishDate.Value.ToShortDateString())</div>
            </div>
        </p>
        }
    </div>
}

@functions {
    private IEnumerable<BlogItemView> _blogItems;

    protected override async Task OnInitAsync()
    {
        _blogItems = await ServiceAdaptor.ReadAll();
    }

    private string AsUrl(string key)
    {
        return $"blogs/{key}";
    }
}
