@page "/"

<div class="jumbotron">
    <div class="container">
        <h3 class="display-3">
            Welcome to helloserve
        </h3>
        <p>
            This is my personal project and hobbyist website where I chronicle some of the things I do on my computer, in my garage, or otherwise. I've got game development stuff, petrol head stuff, general software development stuff and other bits and bobs. Check out the project or blog sections.
        </p>
    </div>   
</div>
<div class="container-fluid">
    <IndexItems></IndexItems>
</div>

@functions {
}