@page "/"

<div class="jumbotron">
    <div class="container">
        <h2 class="display-2">
            Welcome to helloserve
        </h2>
        <p>
            This is my personal project and hobbyist website where I chronicle some of the things I do on my computer and otherwise. I've got game development stuff, petrol head stuff, general software development stuff and other bits and bobs. Check out the project or blog sections.
        </p>
    </div>
</div>

@functions { 
}