@page "/projects"

<div class="jumbotron">
    <div class="container">
        <h2 class="display-2">Projects</h2>
    </div>
</div>
<div class="container-fluid">
    <ProjectItems></ProjectItems>
</div>

@code {
}