<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ALogContext" connectionString="Data Source=localR2;Initial Catalog=TestStuff;Persist Security Info=True;User ID=sa;Password=1qaz0okm;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
