@model AdminMenuModel

<div id="adminFunctions" class="controlDiv">
    <div>
        <a onclick="Admin.AddFeature()">Add Feature</a>
    </div>
    <div>
        Edit Feature @Html.DropDownList("EditFeatureList", null, new { id = "AdminEditFeatureSelection" })
        <a onclick="Admin.EditFeature()">Go</a> 
        <a onclick="Admin.DeleteFeature()">Delete</a>
    </div>
</div>
