@model helloserve.com.Web.Models.ProjectsViewModel
@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Projects</h2>

<div>
    <div>@Html.ActionLink("Add", "project")</div>
    @foreach (var project in Model.Projects.ListItems)
    {
        <div>
            @Html.ActionLink(project.Title, "project", new { id = (project as helloserve.com.Web.Models.Data.ProjectDataModel).FeatureId })
        </div>
    }
</div>