@inherits LayoutComponentBase
@inject HttpClient HttpClient
@inject IJSRuntime JSRuntime
@using helloserve.com.Auth
@using Microsoft.JSInterop

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">

    <AuthorizeView>
        <Authorized>
            <span><img src="@userState.PictureUrl" width="32" height="32" /></span>
            <span>&nbsp;</span>
            <span>
                <button class="btn btn-info" onclick="@SignOut">Sign out</button>
            </span>
        </Authorized>
    </AuthorizeView>

    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@functions{
    [CascadingParameter] Task<AuthenticationState> authStateTask { get; set; }

    private List<TaskCompletionSource<bool>> pendingSignInFlows = new List<TaskCompletionSource<bool>>();
    UserState userState = new UserState();

    protected override async Task OnInitAsync()
    {
        var authState = await authStateTask;
        if (authState.User != null)
        {
            userState.DisplayName = authState.User.Identity.Name;
            userState.PictureUrl = authState.User.FindFirst("picture")?.Value;
            userState.IsLoggedIn = authState.User.Identity.IsAuthenticated;
        }
    }

    public async Task SignOut()
    {
        // Transition to "loading" state synchronously, then asynchronously update
        userState = null;
        StateHasChanged();

        userState = await HttpClient.PutJsonAsync<UserState>("auth/signout", null);
        StateHasChanged();
    }

    [JSInvokable]
    public void OnSignInStateChanged(UserState newUserState)
    {
        userState = newUserState;
        StateHasChanged();

        foreach (var tcs in pendingSignInFlows)
        {
            tcs.SetResult(newUserState.IsLoggedIn);
        }
        pendingSignInFlows.Clear();
    }

}