@model User
<h2>
    Reset Password</h2>
<div>
    @if (Model != null)
    {
        <text>Reset Password details was sent to </text>@(Model.EmailAddress)<text> Please
        check the email account soon.</text>
    }
    else
    {
        <text>Not a valid or activated username.</text>
    }
</div>
<div>
    @Html.ValidationMessage("ResetEmail")
</div>
<br />
<div>
[ @Html.ActionLink("Log On", "LogOn", "Account") ]
</div>
