@model Feature
<a href="@(Model.Link)" style="text-decoration:none">
<div id="Feature@(Model.FeatureID)" class="featureBlock" style="width:320px; display:inline-block;">
    <div>
        <div style="width: 100px; display:inline-block;">
            <div>
                <h2>@Model.Name</h2>
            </div>
            <div>@Model.CreatedDate.ToShortDateString()</div>
        </div>
            @if (Model.HeaderImageID.HasValue)
            {
                <div style="width: 200px; height:100px; display:inline-block; text-align: right; border:1px solid black;">
                    <img src="/Thumb/@(Model.HeaderImageID.Value)" style="width: 200px;
                        height: 100px" />
                </div>
            }
            else
            {
                <div style="width: 200px; height:100px; display:inline-block; text-align: right;">
                    <img src="/Content/Img/Feature_Image_Placeholder.png" style="width: 200px;
                    height: 100px" />
                </div>
            }
    </div>
    <div style="clear:both">@Model.Description</div>
</div>
</a>