@model News
<a href="/News/News?id=@(Model.NewsID)" title="@(Model.Title)">
    <div id="News@(Model.NewsID)" class="contentBlock" style="width:300px">
        <div style="background-image:url('/Thumb/@(Model.HeaderImageID ?? -1)'); padding:5px;">
        <div>
            <h3>@Model.Title</h3>
        </div>
        <div>@Model.CreatedDate.ToShortDateString()</div>
        <div>@Html.Raw(Model.GetCutBland())</div>
    </div>
    </div>
</a>