@model HomeModel
@section headScript {
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));</script>
}
    @Html.Hidden("tweetTags", Url.Encode("@helloserve"))
    <div style="width: 49%; min-width:600px; float: left; margin-right:20px">
        <div>
            <div style="width:100%; display:block">
            @foreach (var feature in Model.MainFeatures)
            {
                Html.RenderPartial("_MainFeature", feature);
            }
            </div>
            <div>
            @foreach (var feature in Model.LatestFeatures)
            {
                Html.RenderPartial("_Feature", feature);
            }
            </div>
        </div>
        <div id="otherLinks" style="width: 600px; color:Black">
            <h2>
                Other Links</h2>
            <div style="display: table-cell; vertical-align: middle; float: left; width: 100%">
                <div style="height: 45px; float: left; width:420px">
                    Get this on your social</div>
                <div style="float: right; height: 45px;">
                    <a href="https://twitter.com/#!/helloserve" title="@@helloserve" style="text-decoration: none;
                        padding: 16px; background: url(/Content/Img/twitter_newbird_blue.png) no-repeat 0 50%">
                        &nbsp;</a> <a href="https://plus.google.com/u/0/b/103859489314444823973/" title="To the Google!"
                            style="text-decoration: none; padding: 16px; background: url(/Content/Img/g-plus-icon-32x32.png) no-repeat 0 50%">
                            &nbsp;</a>
                    <fb:like href="http://www.facebook.com/helloserveproductions" send="false" layout="button_count"
                        show_faces="false" font="arial"></fb:like>
                </div>
            </div>
            <div style="display: table-cell; vertical-align: middle; float: left; width: 100%">
                <div style="height: 45px; float: left; width:420px">Hook-up on Indie DB (I would also like to read about your game, let me know about it)</div>
                <div style="float: right; height: 45px;">
                    <a href="http://www.indiedb.com/company/helloserve-productions" title="DB all the things" target="_blank" style="text-decoration: none; padding: 22px; background: url(http://media.indiedb.com/images/global/indiedb.png) no-repeat 0 50%">
                        &nbsp;
                    </a>
                </div>
            </div>
            <div style="display: table-cell; vertical-align: middle; float: left; width: 100%; margin-top:15px">
                <div style="height: 100px; float: left; width:420px;">The official game development association of South Africa</div>
                <div style="height: 100px; float: right">
                    <a href="http://www.makegamessa.com" title="Discussions that will rack your brains" style="padding:37px; text-decoration:none; background: url(/Content/Img/mgsa.png) no-repeat 0 50%">&nbsp;</a>
                </div>
            </div>
        </div>
        <div style="clear:both">
            <h2>helloserve Tweets</h2>
            <div id="twitterFeed" style="width:600px">
                @foreach (Tweet item in Model.Tweets.StoredTweets)
                {
                    <div class="tweet">@Html.Tweet(item.text)</div>
                }
            </div>
        </div>
    </div>
    <div style="width: 49%; min-width:600px; float: left">
        <div style="background-color:#CFDDE3; padding:5px; margin:0px 5px 5px 5px;">
            <h2>
                Latest Blog Posts</h2>
            <div>
                @foreach (var blog in Model.LatestBlogPosts)
                {
                    Html.RenderPartial("_Blog", blog);
                }
            </div>
        </div>
        <div style="background-color:#E8CEC3; padding:5px; margin:5px;">
            <h2>
                Latest News Posts</h2>
            <div>
                @foreach (var news in Model.LatestNews)
                {
                    Html.RenderPartial("_News", news);
                }
            </div>
        </div>
        <div style="background-color:#C3E8C6; padding:5px; margin:5px;">
            <h2>
                Latest Forum Posts</h2>
            <div>
                @foreach (var post in Model.LatestForumPosts)
                {
                    Html.RenderPartial("_Forum", post);
                }
            </div>
        </div>
    </div>

