@model  helloserve.com.Models.BlogCreate
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1>@Model.Title</h1>
    <p>Edit me!</p>
</div>