@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     I started helloserve Productions as a hobby in 2010. Mucking around with Direct 7, and then later XNA, has always been a sideline thing, but with XNA it had matured to such an extent that 
     suddenly I was looking at something more than just a simply proof of concept. Game-development for me was and is always about the love of playing games, and building something that I'd 
     like to play at the end of the day. That was Stingray's development philosophy.
</p>
<p>Scroll forwards about 2 years and, well, XNA is now dead. I'm really throwing around a few thoughts on direction still, however helloserve Productions is more than just Stingray's development. 
I'm currently employed full-time with <a href="http://www.alacrity.co.za">Alacrity</a> where I'm part architect and part senior developer. I'm also a hobbbyist petrol-head and both an amatuer 2D and 3D artist. 
So, expect to see a few other bits and bops popping up here.</p>

