@model AdminDownloadsModel
<h2>Maintain Downloads</h2>
<table>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Location
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dl in Model.Downloads)
        {
            <tr class="downloadRow" id="download_@(dl.DownloadableID)">
                <td>
                    @Html.TextBox("downloadable_Name", dl.Name, new { @class = "dl_Name" })
                </td>
                <td>
                    @Html.TextBox("downloadable_Description", dl.Description, new { @class = "dl_Description", style="width:300px" })
                </td>
                <td>
                    @dl.Location
                </td>
                <td>
                    <a onclick="Admin.RemoveDownload(@(dl.DownloadableID))">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <div class="controlDiv">
        <input type="submit" id="SaveDownloads" value="Save" onclick="return Admin.SaveDownloads()" />
        <a href="" onclick="Admin.CancelAction()">Cancel</a>
    </div>
</div>
