@model helloserve.com.Web.Models.BaseViewModel
@{
    ViewBag.Title = "Feature Name";
}

<h2>Feature Name</h2>

<div>
    <p>Feature Description</p>

    <div>
        @Html.Raw("Extended Description")
    </div>
</div>
