body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Play', sans-serif;
    background-color:#222222;
    color:#AAAAAA;
}

a {
    color: white;
}

a:visited{
    color:white;
}

a:active{
    color:white;
}

h1{
    color:white;
    font-family: 'Audiowide', cursive;      
}

h2{
    color:white;
    font-family: 'Audiowide', cursive;      
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.api-name a {    
    color:cornflowerblue;
}

.help-page-table{
    border-collapse:collapse;
}


.help-page-table thead{
    background-color:#555555;
}

.help-page-table th {    
    border-spacing: 0px;
    border-bottom:1px solid #555555;
}

.help-page-table td {    
    border-spacing: 0px;
    border-bottom:1px solid #555555;
}