html {
    height: 100%;
    width: 100%;
    position: relative;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Muli, Arial;
    background-color: #FFEDCC;
}

a {
    text-decoration: none;
    color: black;
}

    a:hover {
        color: #888888;
    }

.body-content {
    height: 100%;
    padding-top: 5em;
}

    .body-content a {
        text-decoration: none;
        color: #888888;
    }

        .body-content a:hover {
            color: #666666;
        }

.level {
    height: 100%;
    /*display:table-cell;*/
    /*vertical-align:middle;*/
}

    .level div {
        vertical-align: middle;
        /*display:table-cell;*/
    }

header, footer {
    font-weight: bolder;
}

.header {
    position: fixed;
    z-index: 10;
    padding: 1.5em 0;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: #FFEDCC;
}

.footer {
    padding: 1.5em 0;
    background-color: black;
    color: white;
    height: auto;
}

.body-content .footer a {
    color: white;
}

    .body-content .footer a:hover {
        color: grey;
    }

.header-title {
    display: inline-block;
    padding-left: 2em;
    font-size: 2em;
    width: 20%;
}

.footer-title {
    display: inline-block;
    padding: 0em 2em;
    width: 20%;
    font-weight: normal;
}

.header-nav {
    display: inline-block;
    width: 70%;
    text-align: right;
}

.footer-nav {
    display: inline-block;
    width: 70%;
    text-align: right;
}

nav {
    display: inline;
}

.nav-list {
    list-style: none;
}

    .nav-list li {
        display: inline;
        padding-right: 2em;
    }

.preamble {
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    width: 750px;
    padding: 0.25em;
    border-radius: 5px;
    border: 1px solid black;
}

.reduced {
    width: 750px;
    max-width: 1024px;
    height: 80px;
}

.full {
    width: 750px;
    max-width: 1024px;
    height: 1000px;
}

.editor {
    padding: 1em 0;
}

    .editor .label {
        display: inline-block;
        width: 10%;
        vertical-align: top;
    }

    .editor .field {
        display: inline-block;
        width: 80%;
    }

/* font-page blocks */

.content {
    height: 100%;
    width: 100%;
    /*border:1px solid blue;*/
    text-align: justify;
}

.content-group {
    height: 100%;
    width: 100%;
    /*border:1px dashed blue;*/
    overflow: hidden;
}

.content-container {
    /*border:1px solid pink;*/
    overflow: hidden;
}

.content-block {
    display: inline-block;
    /*padding:10px;*/
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
    /*border:1px dashed pink;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content-page {
    display: block;
    /*padding:10px;*/
    background-color: white;
    color: black;
    width: 100%;
    height: 100%;
    /*border:1px dashed pink;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content-block img {
    max-width: 1024px;
}

.half-width {
    width: 50%;
}

.third-width {
    width: 33.33%;
}

.content-title {
    font-size: larger;
    font-weight: bold;
    padding: 2px;
    display: inline;
    vertical-align: middle;
}

.content-title-detail {
    font-size: small;
    display: inline;
    vertical-align: middle;
    padding-left: 10px;
}

.content-hr {
    margin: 10px 5px;
    border-top: 1px solid;
}

.content-cut {
}

.content-white {
    color: white;
    border-color: white;
}

.info-heading {
    padding: 1em 0 0.5em 0;
    text-align: center;
}

.info {
    padding-bottom: 4em;
    text-align: center;
}

.jumbo {
    font-size: 5em;
    font-weight: bold;
}

.dark-cover {
    background-color: rgba(0,0,0,0.5);
}

.light-cover {
    background-color: rgba(255,255,255,0.5);
}

.background-cover {
    background-color: rgba(255,237,204,0.5);
    height: 100%;
}

.svg_footer {
    fill: #fff;
    width: 1.5em;
    height: 1.5em;
}

a:hover .svg_footer {
    fill: #888888;
}

@media screen and (max-width: 1024px) {
    .jumbo {
        font-size: 2.5em;
        font-weight: bold;
    }

    .content-block img {
        width: auto;
        height: auto;
        max-width: 100%;
    }

    iframe {
        width: 100%;
    }

    .preamble {
        text-align: justify;
    }
}

@media screen and (max-width: 703px) {
    .header {
        position:relative;
        padding-top: 0.5em;
    }

    nav {
        display: block;
    }

    .nav-list li {
        display: block;
        padding-right: 2em;
    }

    .body-content {
        padding-top: 0.5em;
    }

    .jumbo {
        font-size: 1.5em;
        font-weight: bold;
    }

    .content-block img {
        width: 100%;
        height: auto;
    }

    iframe {
        width: 100%;
    }

    .preamble {
        text-align: justify;
    }
}
