@model helloserve.com.Azure.Models.MediaViewModel
@{
    ViewBag.Title = "Media";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Media</h2>

<div>
    <div>@Html.ActionLink("Process", "processMedia")</div>
    @foreach (var media in Model.Media)
    {
        <div style="padding:1em 0;">
            <img src="@(ViewBag.BaseUrl)@media.Url" width="10%"/><span style="padding: 0 1em;">@media.MediaId</span><span style="padding:0 1em;">@media.Filename</span>
        </div>
    }
</div>