@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.bg-helloserve {
    background-color: #ffedcc;
}

.bg-bluecar {
    background-color: #3C91E6;
}

.btn-helloserve {
    color: #fff;
    background-color: #3C91E6;
    border-color: #3C91E6;
}

.h-helloserve {
    color: #3C91E6;
}

blockquote {
    border-style: solid;
    border-color: darkorange;
    border-width: 0px 0px 0px 3px;
    padding-left: 0.5em;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    color: #454545;
}

.nav-item img {
    width: 20px;
    height: 20px;
}


.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.blog-edit {
}

.edit-fields {
    padding: 1em;
    display: inline-grid;
    width: 70%;
}

.blog-listing {
    padding: 1rem;
}

    .blog-listing:hover {
        background-color: #efefef;
    }

.blog-listing-image {
    max-height:250px;
}

.blog-listing-content {
    display: inline-table;
}

.blog-listing-heading {
    display: block;
}

.blog-listing-notation {
    display: block;
    font-size: 0.75em;
    padding: 0rem 1rem;
}

.blog-listing-description {
    display: block;
    margin-top: 0.5rem;
}

.edit-fields input {
    width: 90%;
}

.edit-actions {
    padding: 1em;
    display: inline-grid;
    width: 25%;
    height: 100%;
}

.textarea-content {
    height: 500px;
    min-width: 90%;
    font-family: 'Fira Code', 'Courier New'
}

.textarea-content-small {
    height: 80px;
    min-width: 90%;
    font-family: 'Fira Code', 'Courier New'
}

p code {
    font-size: 100%;
    font-family: 'Fira Code', 'Courier New';
}

pre {
    margin: 0;
}

.editor-colors {
    background: #efefef;
    padding: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    overflow: auto;
}

.field-validation-error {
    font-size: 10px;
    color: firebrick;
}

.blog-content img {
    text-align: center;
}

@media (max-width: 767.98px) {

    blockquote {
        margin-left: 0.25rem;
    }

    .blog-listing-image {
        display: block;
        text-align: center;
    }

    .blog-listing-content {
        display: block;
    }
}
