@model NewsModel

<div>
@if (Model.PrevNews != null)
{
    <span>@Html.ActionLink("Prev <<", "News", "News", new { id = Model.PrevNews.NewsID }, null)</span>
}
@if (Model.News.FeatureID.HasValue)
{
    if (string.IsNullOrEmpty(Model.FeatureLink))
    {
    <span>@Html.ActionLink("Back to Feature", "Feature", "Feature", new { id = Model.News.FeatureID }, null)</span>
    }
    else
    {
    <span><a href="@Model.FeatureLink">Back to Feature</a></span>
    }
}
@if (Model.NextNews != null)
{
    <span>@Html.ActionLink(">> Next", "News", "News", new { id = Model.NextNews.NewsID }, null)</span>
}
</div>