@model helloserve.com.Web.Models.Data.ContentDataModel

<a href="@(ViewBag.BaseUrl)@Model.Controller/@Model.UrlName">
    <div class="content-block" style="@if (!string.IsNullOrEmpty(Model.ImageUrl)) { <text>background-image:url(@Html.StaticlinkContent(Model.ImageUrl)); </text> }">
        <div class="dark-cover" style="padding:2em;">
            <div style="display:table-cell; vertical-align:middle;">
                <h1 class="content-title content-white">@Model.Title</h1>
                <div class="content-title-detail content-white">
                    @if (Model.CreatedDate == DateTime.Today)
                    {
                        <text>Posted&nbsp;today</text>
                    }
                    else
                    {
                        <text>Posted&nbsp;on&nbsp;@Model.CreatedDate.ToString("yyyy-MM-dd")</text>
                    }
                </div>
            </div>
            <div class="content-hr content-white"></div>
            <div class="content-cut content-white">
                @Model.Cut
            </div>
        </div>
    </div>
</a>