@model helloserve.com.Web.Models.Data.ContentDataModel

<div class="content-block" style="@if (!string.IsNullOrEmpty(Model.ImageUrl)) { <text>background-image:url(@Html.StaticlinkContent(Model.ImageUrl)); </text> }">
    <div style="padding:2em; background-color: rgba(0,0,0,0.5);">
        <div style="display:table-cell; vertical-align:middle;">
            <div class="content-title content-white">@Model.Title</div>
            <div class="content-title-detail content-white">
                @if (Model.CreatedDate == DateTime.Today)
                {
                    <text>Posted&nbsp;today</text>
                }
                else
                {
                    <text>Posted&nbsp;on&nbsp;@Model.CreatedDate.ToString("yyyy-MM-dd")</text>
                }
            </div>
        </div>
        <div class="content-hr content-white"></div>
        <div class="content-cut content-white">
            @Model.Cut
        </div>
    </div>
</div>