body {
    font-family: Muli, Arial;
}

.body-content {
}

.page {
    padding-left: 15em;
    padding-right: 15em;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* menu*/
.sideBar {
    position: absolute;
    z-index: 1;
    width: 5em;
    height: 20em;
    overflow: no-content;
    left: 0px;
    top: 5em;
    box-shadow: 5px 5px 2px #CCCCCC;
    -webkit-animation: sideBarContract 0.25s;
    animation: sideBarContract 0.25s;
    background-color: white;
    padding: 5px;
}

    .sideBar:hover {
        -webkit-animation: sideBarExpand 0.25s;
        animation: sideBarExpand 0.25s;
        width: 20%;
    }

    .sideBar .feature {
        display: block;
        vertical-align: middle;
        height: 4.7em;
        overflow:hidden;
    }

        .sideBar .feature .image {
            width: 4.5em;
            height: 4.5em;
            border: 1px solid black;
            display: inline-block;
            vertical-align:middle;
        }

        .sideBar .feature .heading {
            display: none;
        }

    .sideBar:hover .feature .heading {
        display: inline;
    }

@-webkit-keyframes sideBarContract {
    from {
        width: 20%;
    }

    to {
        width: 5em;
    }
}

@keyframes sideBarContract {
    from {
        width: 20%;
    }

    to {
        width: 5em;
    }
}

@-webkit-keyframes sideBarExpand {
    from {
        width: 5em;
    }

    to {
        width: 20%;
    }
}

@keyframes sideBarExpand {
    from {
        width: 5em;
    }

    to {
        width: 20%;
    }
}
