@model helloserve.com.Web.Models.Data.CollectionViewModel

<div>
    <div class="content-container" style="width:100%">
        @Html.DisplayFor(m => m.ListItems[0])
    </div>
    <div class="content-container" style="width:100%">
        <div style="display:inline-block; width:49%;">@Html.DisplayFor(m => m.ListItems[1])</div><div style="display:inline-block; width:2%">&nbsp;</div><div style="display:inline-block; width:49%;">@Html.DisplayFor(m => m.ListItems[2])</div>
    </div>
</div>

