@model helloserve.com.Web.Models.HomeViewModel

@{
    ViewBag.Title = null;
}

@section preamble{
    <div style="padding:2em 0; text-align:center">
        A short section to describe the site
    </div>
}

@Html.DisplayFor(m => m.NewsItem)
@Html.Partial("ContentGroup", Model.Projects)
