@model helloserve.com.Web.Models.HomeViewModel

@{
    ViewBag.Title = "Home";
}

@section preamble{
    <div style="padding-top:5.5em; padding-bottom:2em; text-align:center">
        A short section to describe the site
    </div>
}

@Html.DisplayFor(m => m.NewsItem)
@Html.Partial("ContentGroup", Model.Features)
