@model helloserve.com.Web.Models.BaseViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="content">
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
        <div>
            <div style="padding:2.5px;">
                <div class="feature">
                    <div style="z-index:-4; position:relative; top:0px; left:0px; overflow: hidden; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
                             background-image: url(Content/images/placeholder-200x150.png); background-position-x: center; background-position-y: center; background-repeat: no-repeat;
                             display: block; vertical-align: middle; text-align: center; width: 200px; height: 150px; border-radius: 0px;">
                    </div>
                    <div style="z-index: -3; top: -150px; left: 0px; display: table-cell; position: relative; width: 200px; height: 30px; background-color: rgba(0, 0, 0, 0.2);
                             vertical-align:middle;">
                        <div style="display:table-cell; vertical-align:middle">
                            Test
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
