@model helloserve.com.Web.Models.HomeViewModel

@{
    ViewBag.Title = null;
}

@section preamble{
    <div class="info-heading jumbo">
        I am a software developer
    </div>
    <div class="info">
    My focus is on architecture, design, detail and adding value. This is my personal project and for-contract website.
</div>
}

@Html.DisplayFor(m => m.NewsItem)
@Html.Partial("ContentGroup", Model.Projects)
