@model helloserve.com.Web.Models.HomeViewModel

@{
    ViewBag.Title = "Home";
}

<div class="content">
    <div class="row">
        <div>
            <h2>News</h2>
            @Html.Partial("ContentGroupTri", Model.NewsItems)
        </div>
        <div>
            <h2>Blogs</h2>
            <div>

            </div>
        </div>
        <div>
            <h2>Features</h2>
            @Html.Partial("ContentGroupOct", Model.Features)
        </div>       
    </div>
</div>
