/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center bottom, ellipse farthest-corner, #F5F5F5 0%, #DBDBDB 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center bottom, ellipse farthest-corner, #F5F5F5 0%, #DBDBDB 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center bottom, ellipse farthest-corner, #F5F5F5 0%, #DBDBDB 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 561, color-stop(0, #F5F5F5), color-stop(1, #DBDBDB));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, #F5F5F5 0%, #DBDBDB 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(ellipse farthest-corner at center bottom, #F5F5F5 0%, #DBDBDB 100%);
    
    font-size: 1em;
    font-family: Calibri , Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #000;
}

a:link
{
    color: #444466;
    text-decoration: underline;
}

a:visited
{
    color: #444466;
    text-decoration: underline;
}

a:hover
{
    color: #FF6500;
    text-decoration: none;
}

a:active
{
    color: #444466;
    text-decoration: underline;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

header, footer, nav, section
{
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2
{
    padding: 0 0 10px 0;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header, #header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
    height: 50px;
}

header h1, #header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

#main
{
    padding: 30px 30px 15px 30px;    
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border:1px solid black;
    
    /* IE10 Consumer Preview */ 
    background-image: url(/Content/img/cell.png), -ms-radial-gradient(center bottom, ellipse farthest-corner, #98B4D4 0%, #E6E6E6 100%);

    /* Mozilla Firefox */ 
    background-image: url(/Content/img/cell.png), -moz-radial-gradient(center bottom, ellipse farthest-corner, #98B4D4 0%, #E6E6E6 100%);

    /* Opera */ 
    background-image: url(/Content/img/cell.png), -o-radial-gradient(center bottom, ellipse farthest-corner, #98B4D4 0%, #E6E6E6 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: url(/Content/img/cell.png), -webkit-gradient(radial, center bottom, 0, center top, 561, color-stop(0, #98B4D4), color-stop(1, #E6E6E6));

    /* Webkit (Chrome 11+) */ 
    background-image: url(/Content/img/cell.png), -webkit-radial-gradient(center bottom, ellipse farthest-corner, #98B4D4 0%, #E6E6E6 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: url(/Content/img/cell.png), radial-gradient(ellipse farthest-corner at center bottom, #98B4D4 0%, #E6E6E6 100%);
}

footer, #footer
{
    color: #000;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border:1px solid Black;
    border-top:none;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    
    /* IE10 Consumer Preview */ 
    background-image: url(/Content/img/cell.png), -ms-radial-gradient(center top, ellipse farthest-corner, #98B4D4 0%, #E6E6E6 100%);

    /* Mozilla Firefox */ 
    background-image: url(/Content/img/cell.png), -moz-radial-gradient(center top, ellipse farthest-corner, #98B4D4 0%, #E6E6E6 100%);

    /* Opera */ 
    background-image: url(/Content/img/cell.png), -o-radial-gradient(center top, ellipse farthest-corner, #98B4D4 0%, #E6E6E6 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: url(/Content/img/cell.png), -webkit-gradient(radial, center top, 0, center top, 561, color-stop(0, #98B4D4), color-stop(1, #E6E6E6));

    /* Webkit (Chrome 11+) */ 
    background-image: url(/Content/img/cell.png), -webkit-radial-gradient(center top, ellipse farthest-corner, #98B4D4 0%, #E6E6E6 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: url(/Content/img/cell.png), radial-gradient(ellipse farthest-corner at center top, #98B4D4 0%, #E6E6E6 100%);
}

/* TAB MENU   
----------------------------------------------------------*/
div.menu
{
    text-align: center;
    padding: 0px 20px;
    margin: 0px 2px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: White;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid #444466;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    float: right;
    width: 50px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle; 
    color: #444466;
    font-weight:900;
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center bottom, ellipse farthest-corner, #D6D6D6 0%, #DBDBDB 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center bottom, ellipse farthest-corner, #D6D6D6 0%, #DBDBDB 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center bottom, ellipse farthest-corner, #D6D6D6 0%, #DBDBDB 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 561, color-stop(0, #D6D6D6), color-stop(1, #DBDBDB));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, #D6D6D6 0%, #DBDBDB 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(ellipse farthest-corner at center bottom, #D6D6D6 0%, #DBDBDB 100%);
}

div.menu.profile
{
    border-radius: 4px 0px 0px 4px;
    -webkit-border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    padding: 0px 0px;    
    margin: 0px -1px 0px 2px;
    width:150px;
}

div.menu.logoff
{
    border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 0px 4px 4px 0px;
    -moz-border-radius: 0px 4px 4px 0px;    
    margin:0px 2px 0px 0px;
}

a div.menu:hover
{
    text-decoration: none;
}

div.menu:hover
{
    border: 1px solid #FF6500;    
    color: #FF6500;   
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center bottom, ellipse farthest-corner, #F5F5F5 0%, #DBDBDB 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center bottom, ellipse farthest-corner, #F5F5F5 0%, #DBDBDB 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center bottom, ellipse farthest-corner, #F5F5F5 0%, #DBDBDB 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 561, color-stop(0, #F5F5F5), color-stop(1, #DBDBDB));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, #F5F5F5 0%, #DBDBDB 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(ellipse farthest-corner at center bottom, #F5F5F5 0%, #DBDBDB 100%);
}

div.dropButton
{
    display: none;
    background-color: White;
    border: 1px solid black;
    border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    padding: 10px 0px 0px 11px;
    margin: -5px 0px 0px -15px;
    z-index: 500;
    width: 150px;
    top: 19px;
    text-align: left;
    color: #444466;
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center bottom, ellipse farthest-corner, #D6D6D6 0%, #DBDBDB 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center bottom, ellipse farthest-corner, #D6D6D6 0%, #DBDBDB 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center bottom, ellipse farthest-corner, #D6D6D6 0%, #DBDBDB 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 561, color-stop(0, #D6D6D6), color-stop(1, #DBDBDB));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, #D6D6D6 0%, #DBDBDB 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(ellipse farthest-corner at center bottom, #D6D6D6 0%, #DBDBDB 100%);
}

div.dropButton ul
{
    list-style: none outside none;
    line-height: 1.6em;
    margin: 0px 0px 10px -20px;
}

a.adropButton:link
{
    color: #444466;
    text-decoration:none;
}

a.adropButton:hover
{
    color: #FF6500;   
    text-decoration:none;
}


div.menu:hover .dropButton
{
    display: block;
    border: 1px solid #FF6500;    
    color: #FF6500;   
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center bottom, ellipse farthest-corner, #F5F5F5 0%, #DBDBDB 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center bottom, ellipse farthest-corner, #F5F5F5 0%, #DBDBDB 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center bottom, ellipse farthest-corner, #F5F5F5 0%, #DBDBDB 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 561, color-stop(0, #F5F5F5), color-stop(1, #DBDBDB));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, #F5F5F5 0%, #DBDBDB 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(ellipse farthest-corner at center bottom, #F5F5F5 0%, #DBDBDB 100%);
}

div.forumPager
{
    width: 5em;
    float: right;
    padding: 2px 2px 2px 2px;
    margin:0px 2px;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
}
      
div.forumPagerEmpty
{
    width: 5em;
    float: right;
    padding: 2px 2px 2px 2px;
    margin:0px 2px;
    text-align: center;
    
}

div.forumPager a
{
    text-decoration:none;
    cursor: pointer;
}

div.forumModerateLinks
{
    padding:2px 4px; 
    margin: -4px 0px 0px 0px; 
    border:1px solid black; 
    border-radius: 4px 4px 4px 4px; 
    -webkit-border-radius: 4px 4px 4px 4px; 
    -moz-border-radius: 4px 4px 4px 4px;    
}

.forumModerateLinks a
{
    text-decoration:none;
    cursor: pointer;
}

span.forumUser
{
    color:#55AAFF;
    font-size:larger;
}

span.forumPostDetails
{
    font-size:smaller;
    padding:0px 15px;
}

.forumTopicPost
{
    background-color:#EFEFEF;
    padding:15px;
    border:1px solid black; 
    border-radius: 4px 4px 4px 4px; 
    -webkit-border-radius: 4px 4px 4px 4px; 
    -moz-border-radius: 4px 4px 4px 4px;        
}

span.invalid
{
    color:Red;
}

span.valid
{
    color:Green;
}
/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

input[type="text"], input[type="password"]
{
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select
{
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"]
{
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/

table
{
}

table td
{
    padding: 5px;
}

table th
{
    padding: 6px 5px;
    text-align: left;
}

/* MISC  
----------------------------------------------------------*/
table a, .controlDiv a
{
    color: #000000 !important;
    text-decoration: underline;
    cursor: pointer;
}

.clear
{
    clear: both;
}

.error
{
    color: Red;
}

nav, #menucontainer
{
    margin-top: 40px;
    text-align: right;
}

div.tweet
{
    display: inline-block;
    padding: 4px 4px 4px 4px;
    margin:5px 0px;
    border: solid 1px Black;
    min-width:600px;
    border-radius: 4px 4px 4px 4px; 
    -webkit-border-radius: 4px 4px 4px 4px; 
    -moz-border-radius: 4px 4px 4px 4px;        
    
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center bottom, ellipse farthest-corner, #F5F5F5 0%, #DBDBDB 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center bottom, ellipse farthest-corner, #F5F5F5 0%, #DBDBDB 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center bottom, ellipse farthest-corner, #F5F5F5 0%, #DBDBDB 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 561, color-stop(0, #F5F5F5), color-stop(1, #DBDBDB));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, #F5F5F5 0%, #DBDBDB 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(ellipse farthest-corner at center bottom, #F5F5F5 0%, #DBDBDB 100%);    
}

div.contentBlock
{
    display: inline-block;
    padding: 5px 5px 5px 5px;
    margin: 2px 2px 2px 5px;
    min-width: 300px;
    max-width: 600px;
    background-color: transparent;
}

div.contentBlock:hover
{
    display: inline-block;
    padding: 4px 4px 4px 4px;
    min-width: 300px;
    max-width: 600px;
    border: solid 1px;
    border-radius: 4px 4px 4px 4px; 
    -webkit-border-radius: 4px 4px 4px 4px; 
    -moz-border-radius: 4px 4px 4px 4px;        
    
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center bottom, ellipse farthest-corner, #F5F5F5 0%, #DBDBDB 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center bottom, ellipse farthest-corner, #F5F5F5 0%, #DBDBDB 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center bottom, ellipse farthest-corner, #F5F5F5 0%, #DBDBDB 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 561, color-stop(0, #F5F5F5), color-stop(1, #DBDBDB));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, #F5F5F5 0%, #DBDBDB 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(ellipse farthest-corner at center bottom, #F5F5F5 0%, #DBDBDB 100%);
}

div.featureBlock
{
    display: inline-block;
    padding: 10px;
    margin: 5px;
    min-width: 300px;
    max-width: 600px;
    background-color: transparent;
}

div.featureBlock:hover
{
    display: inline-block;
    padding: 9px;
    margin: 5px;
    min-width: 300px;
    max-width: 600px;
    border: solid 1px;
    background-color: #DDD;
    border-radius: 4px 4px 4px 4px; 
    -webkit-border-radius: 4px 4px 4px 4px; 
    -moz-border-radius: 4px 4px 4px 4px;    

    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center bottom, ellipse farthest-corner, #F5F5F5 0%, #DBDBDB 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center bottom, ellipse farthest-corner, #F5F5F5 0%, #DBDBDB 100%);

    /* Opera */ 
    background-image: -o-radial-gradient(center bottom, ellipse farthest-corner, #F5F5F5 0%, #DBDBDB 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center bottom, 0, center bottom, 561, color-stop(0, #F5F5F5), color-stop(1, #DBDBDB));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center bottom, ellipse farthest-corner, #F5F5F5 0%, #DBDBDB 100%);

    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(ellipse farthest-corner at center bottom, #F5F5F5 0%, #DBDBDB 100%);
}

textarea.cut
{
    min-height: 150px;
    min-width: 500px;
}

textarea.post
{
    min-height: 300px;
    min-width: 500px;
}

div#title
{
    display: block;
    float: left;
    text-align: left;
}

#logindisplay
{
    float: right;
    width: 200px;
    font-size: 1.1em;
    text-align: right;
    margin: 10px;
    color: White;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, .editor-label
{
    margin: 1em 0 0 0;
}

.display-field, .editor-field
{
    margin: 0.5em 0 0 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}
