@inject IPageState PageState
<title>helloserve.com@(string.IsNullOrEmpty(PageState.Title) ? null : $" - {PageState.Title}")</title>
<meta property="og:type" content="@PageState.Type">
<meta property="og:title" content="@PageState.Title">
<meta property="og:description" content="@PageState.Description">
<meta property="og:image" content="@PageState.ImageUrl">
<meta property="og:locale" content="en-ZA">

<meta name="twitter:card" content="summary">
<meta name="twitter:description" content="">

@functions {
    protected override async Task OnInitAsync()
    {
        PageState.OnStateChange += HandleOnStateChange;
    }

    void HandleOnStateChange(object sender, EventArgs e)
    {
        StateHasChanged();
    }
}