@page "/admin"
@layout LoginLayout

<div class="jumbotron">
    <div class="container">
        <h2 class="display-2">Hello, administrator!</h2>

        <p>Welcome to your new app.</p>
    </div>
</div>