@{
    ViewBag.Title = "About";
}

@section preamble{
    <div style="padding:2em 0; text-align:center; font-size:2.5em; font-weight:900">
        When in doubt, make tea - Jon Gray
    </div>
}

<div class="content-block">
    <div style="display:table; height:25em;">
        <div style="padding:1em; display:table-cell; vertical-align:bottom;">
            <p>
                I learnt a lot from Jon, and at the top of that list was simply to think for myself, to consider the situation, the problem or the challenge. Of course he wasn't the first person to teach me this, but he made it practical for me, with that quote. This is the route to happiness, in my opinion.
                Doing so leaves you with a sense of being content, it colours the world in a more objective light. But it's something that needs to be practised, a way of living that needs to take root in your everyday.
            </p>
            <p>
                
            </p>
        </div>
    </div>
</div>

