@{
    ViewBag.Title = "About";
}

@section preamble{
    <div class="jumbo" style="text-align:center; padding:2em 0;">
        When in doubt, make tea - Jon Gray
    </div>
}

<div class="content-block">
    <div style="display:table; height:25em;">
        <div style="padding:1em; display:table-cell; vertical-align:bottom;">
            <p>
                I learnt a lot from Jon, and at the top of that list was simply to think for myself, to consider the situation, the problem or the challenge. Of course he wasn't the first person to teach me this, but he made it practical for me, with that quote. This is the route to happiness, in my opinion.
                Doing so leaves you with a sense of being content, it colours the world in a more objective light. But to slow down when you instinctively (and subconsciously) want to speed up is something that needs to be practised, a way of living that needs to take root in your everyday. This is what Jon taught me whilst pair-programming at his house in Marksbury in the west country.
            </p>
            <p>
                Building software is difficult, and building good, well structured software is extremely difficult (and academic). This difficulty can only be overcome by a considered and consistent approach to structure, patterns and quality. I don't advocate the use of 'productivity' tools or 'do-it-for-you' IDE extensions - there is no substitute to <a href="http://resharper.blogspot.com/2008/03/varification-using-implicitly-typed.html">better API</a> except good design and good implementation, and there is no better way to hone your skills than to actually implement it yourself, every time.
            </p>
            <h3>Software development</h3>
            <p>
                I've actively been programming since 1994, and professionally since 2001. In my professional capacity I've seen nine projects through to the various requisite success scenarious, be that a live roll-out to an installed user-base or a start-up launch. Part-time I dabble in various visual related technologies, contract work and more start-up shenanigans. I am currently employed as a senior engineer and team lead at <a href="http://www.globalkinetic.com">Global Kinetic</a> doing API and web, and I'm also the co-founder, developer and MD of <a href="https://www.counselconnect.co.za">Counsel Connect</a>.
            </p>
            <h3>Cars</h3>
            <p>
                I'm a car enthusiast, but not the numbers kind. My interest lies around ownership and experience, rather than spec sheets and 0-60 times. I don't care for showing off, stancing or any other type of ridiculous modification. In my opinion, if you don't drive your car to work at least twice a week you don't own it, if you don't road trip in your car, you havn't experienced it.
            </p>
            <p>
                My preference is naturally aspirated engines. Turbo engines lack throttle response, become unnecessarily thirsty in full-blown state, doesn't work at all in high-altitudes, and usually expire either with a turbo replacement or a cooling problem, both of which is very expensive. These days this is becoming a difficult preference to maintain though. Fortunately today, in 2015, Mazda's current SkyActive platform defies current trends, and my beloved MX-5 remains an NA unit.
            </p>
            <p>
                I perform any engine, drive-train and suspension related work on my 1991 MX-5 myself. I also try to perform menial tasks (e.g brake pad or disk replacement) on all our cars myself. In my experience, 90% of the bolts on any Japanese car is socket size 10.
            </p>
        </div>
    </div>
    @*<div style="text-align:center; padding:1em;">
        <div class="jumbo">
            I'm available for contract work
        </div>
        <p>
            If you need a protype, project or integration solution designed and implemented, or need to consult on software project related matters, contact me on:
        </p>
        <div style="font-weight:bold; padding:1em 0;">
            <ul style="list-style:none">
                <li>Email: <a href="mailto:helloserve@gmail.com">helloserve@gmail.com</a></li>
                <li>Phone: <a href="tel:+27 (0)82 697 6205">+27 (0)82 697 6205</a></li>
            </ul>
        </div>
        <p>
            Please provide an overview of the <u>entire</u> envisaged scope of the proposal, including your actual and forcasted budget and financial facilities available towards funding your proposal. A deposit will be required in select cases. NDA's welcome and signed contractual terms non negotiable. Warentee periods will be enforced and adhered to. Full SDLC support available after initial contractual obligations concluded.
        </p>
    </div>*@
</div>

