@model helloserve.com.Web.Models.Data.NewsDataModel

<div class="content-block" style="height:auto">
    <div style="padding:1em">
        <div style="display:table-cell; vertical-align:middle;">
            <div style="font-size:larger; font-weight:bold; padding:2px; display:inline; vertical-align:middle;">@Model.Title</div>
            <div style="font-size:x-small; display:inline; vertical-align:middle; padding-left:10px;">
                @if (Model.CreatedDate == DateTime.Today)
                {
                    <text>Posted today</text>
                }
                else
                {
                    <text>Posted on @Model.CreatedDate.ToString("yyyy-MM-dd")</text>
                }
            </div>
        </div>
        <div class="content-hr"></div>
        <div>
            @Model.Cut
        </div>
        <div>
            @Html.Raw(Model.Content)
        </div>
    </div>
</div>