@using helloserve.com.Models

<div class="jumbotron bg-bluecar">
    <div class="container-fluid">
        <h3 class="display-3">The Blue Car</h3>

        <p class="display-5">@project.Description</p>

        <p>
            Before I even got the car, my wife bought me a workshop manual for it as a wedding gift.
            And to this day it is both a source of enjoyment and endearment to both of us and my sons.
            I've had the car since 2009 and in that time I've become an amateur mechanic, it's been my daily driver, we've done a road trip to Namibia,
            the exterior has been completely reconditioned, and has now become quite a maintenance chore as it pushes past 30 years.
        </p>

        <p>The series of blog posts chronicles my ownership of the car and covers the rather mundane to some pretty technical detail. It's not a how-to guide (or at least, is not intended to be).</p>
    </div>
</div>
<CascadingValue Name="OwnerKey" Value="@project.Key">
    <BlogItems/>
</CascadingValue>


@code {
    [CascadingParameter(Name = "Owner")] ProjectView project { get; set; }
}