@model helloserve.com.Azure.Models.ProjectsViewModel

@{
    ViewBag.Title = "Projects";
}

@foreach (var project in Model.Projects)
{
    <div class="content-block" style="height:50%">
        @Html.DisplayFor(m => project)
    </div>
}